.comic-show
{
    .line{
        height: 60px;
        background-color: $main-color;
    }
    .jumbotron
    {
        height: 500px;
        background-image:url('../images/jumbotron.jpg');
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

        img{
            width: 150px;
            height: auto;
            position: absolute;
            top:60%;
            left:20%;
        
        }
        
    }
    .info{

        display: flex;
        width: 70%;
        margin: 50px auto;

        .info-text
        {
            margin: 20px;
            flex-grow: 1;
            .price
            {
                background-color: $price-green;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 15px 20px;
                width: 100%;
                .text-d-green
                {
                    color: darkgreen;
                }
                .disponibility
                {
                    display: flex;
                }
            }
            
        }
    }
}