header
{
    .header-info
    {
        height: 25px;
        background-color: $main-color;
        color: $main-color-contrast;
        font-size: 0.8rem;
    }
    .menu
    {
        height: 130px;
        background-color: white;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .active
    {
        border-bottom: 5px solid $main-color;
        color: $main-color;
    }
    ul {

        display: flex;
        list-style-type: none;
        text-transform: uppercase;
        align-items: center;

        li
        {
            padding: 0 10px;
            font-size: 1rem;
            font-family:$segoe-bold;

            .search
            {
                border: 0;
                border-radius: 0;
                border-bottom: 2px solid $main-color;
                text-align: right;
                color: #687378;
                padding: 0;
                margin: 0;
                font-weight: bold;
            }
            a{
                color: #687378;
                text-decoration: none;
                font-weight: bold;
                padding-bottom: calc( 100% - 5px );
            }
            .cevron
            {
                color: $main-color;
            }
        }
        
    }        
}